body.pag-login { background: #5CC4BD;}
.logo_unopar { width: 157px; height: 170px; background: url("../img/bg_logo_unopar.png") no-repeat center center #5CC4BD; border-radius: 10px; margin: 20px 0 0 20px;}

/* MENSAGENS DE ERRO DE VALIDACOA DE FORMULARIO */
span.error { color: #f00; font-size: 12px; clear: both; display: block;}

#dataTables-example tr th { font-size: 12px;}
#dataTables-example tr td { font-size: 10px;}